name: lint by biome

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/biome-lint.yml"
      - "biome.json"
      - "package.json"
      - "src/**"
      - "tsconfig.json"
  pull_request:
    branches: ["*"]
    paths:
      - ".github/workflows/biome-lint.yml"
      - "biome.json"
      - "package.json"
      - "src/**"
      - "tsconfig.json"

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0
        with:
          bun-version: latest
      
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint by biome
        run: bunx biome check src
