name: lint to docs by eslint

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/eslint-lint.yml"
      - "eslint.config.mjs"
      - "package.json"
      - "src/**"
      - "tsconfig.json"
  pull_request:
    branches: ["*"]
    paths:
      - ".github/workflows/eslint-lint.yml"
      - "eslint.config.mjs"
      - "package.json"
      - "src/**"
      - "tsconfig.json"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version: latest
      
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint by eslint
        run: bunx eslint
