name: lint to docs by eslint

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/eslint-lint.yml"
      - "eslint.config.mjs"
      - "package.json"
      - "src/**"
      - "tsconfig.json"
  pull_request:
    branches: ["*"]
    paths:
      - ".github/workflows/eslint-lint.yml"
      - "eslint.config.mjs"
      - "package.json"
      - "src/**"
      - "tsconfig.json"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0
        with:
          bun-version: latest
      
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint by eslint
        run: bunx eslint
