name: generate colorscheme files by scripts

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/scripts-gen.yml"
      - "package.json"
      - "scripts/**"
      - "src/**"
      - "tsconfig.json"
  pull_request:
    branches: ["*"]
    paths:
      - ".github/workflows/scripts-gen.yml"
      - "package.json"
      - "scripts/**"
      - "src/**"
      - "tsconfig.json"

jobs:
  biome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Generate colorscheme files
        run: |
          set -euo pipefail
          
          make css lua nix typescript

          for t in css lua nix ts ; do
            test -e dist/colorscheme.${t} || (echo "the generated file is not found: dist/colorscheme.${t}"; exit 1) 
          done
 
